<!DOCTYPE html>
<html ng-app="qrApp" >
<%- include('partials/header') %>
<body data-bs-theme="light">
<div class="outer-container">

    <%- include('partials/navbar') %>

    <div class="container mt-3" style="max-width: 97.5%;">
        <ul class="nav nav-tabs rounded-top-2" id="selector" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="normal-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">QR For Printing
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                        type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">QR For Download
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="vietqr-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">VietQR
                </button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <%- include('section/v1-section') %>
            <%- include('section/info-section') %>
            <%- include('section/v2-section') %>
        </div>


    </div>
</div>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/controller/v1-controller.js"></script>
<script src="/javascripts/controller/v2-controller.js"></script>
<script src="/javascripts/controller/info-controller.js"></script>
<script src="/javascripts/controller/navbar-controller.js"></script>
</body>
</html>